
.next {
	position: fixed;
	top: 50%;
	right: 10%;
	font-size: 1000%;
	border:none;
	color:white;
	/*background: -webkit-linear-gradient(150deg, 
		#fffb00,
		#84ff00,
		#04ff00,
		#00ff7c,
		#00fffb,
		#0084ff);*/
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.last {
	position: fixed;
	top: 50%;
	left: 10%;
	font-size: 1000%;
	border:none;*/
	color: white;
	/*background: -webkit-linear-gradient(150deg, 
		#fffb00,
		#84ff00,
		#04ff00,
		#00ff7c,
		#00fffb,
		#0084ff);*/
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#info {
	/*background: -webkit-linear-gradient(0deg, 
		#fffb00,
		#84ff00,
		#04ff00,
		#00ff7c,
		#00fffb,
		#0084ff);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    color: white;
    text-align: center;
    font-family: "Lucida Console", Monaco, "Times New Roman", Times, serif;
    font-size:200%;
	animation-delay:1s;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;

}
#text-font {
	font-family: "Trebuchet MS", Helvetica, "Times New Roman", Times, serif;
	font-size: 70%;
}
#subpage-heading {
	background: -webkit-linear-gradient(150deg, 
    	#d5f439,
		#39d5f4,
		#f439d5);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#link-stem {
	background: -webkit-linear-gradient(150deg, 
		#fffb00,
		#84ff00,
		#04ff00,
		#00ff7c,
		#00fffb,
		#0084ff);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	animation-delay:1s;
}
#link-home {
	animation-delay:2s;
}
#link-resources {
	animation-delay:2.5s;
}
#link-projects {
	animation-delay:3s;
}
#link-about {
	animation-delay:3.5s;
}
#header-text {
	margin-bottom: -1rem;
	font-size: 110%;
	text-align: center;
	font-family: Impact, Charcoal, "Times New Roman", Times, serif;
	color: #AED6F1;
	padding-left: 3rem;
	padding-top: 2rem;
	
}
#list {
	list-style-type: none;
	text-align: center;	
	padding-top: 2rem;
}
#list-2 {
	list-style-type: none;
}

#search-button {
	position: absolute;
	right: 1%;
	padding-left: 1rem;
	padding-top: 1.5rem;
	animation-delay:0.5s;
}

body {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/blue.jpg'), center center fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/*background-size: auto 100%;*/
	/*-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;*/
	animation-delay: 0.5s;
}

#header-line {
	border-color:rgba(128, 128, 166,1);
}

#bottom-text {
	/*background: -webkit-linear-gradient(150deg, 
		#fffb00,
		#84ff00,
		#04ff00,
		#00ff7c,
		#00fffb,
		#0084ff);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
    color: white;
	left: 1%;
	bottom:1%;
	animation-delay:2.5s;
	text-align: center;
    font-family: "Lucida Console", Monaco, "Times New Roman", Times, serif;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}